$dkgrey: #7a7a7a;
$ltgrey: #c7c7c7;
$medgrey: #969696;

.whole {
  border: 1px solid $ltgrey;
  display: grid;
  margin-top: 8.5rem;
  margin-left: 12%;
  margin-right: 12%;
  height: 24.9rem;
}

.get-started {
  position: fixed;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72%;
  text-align: center;

  .home-page {
    h1 {
      font-weight: 400;
      margin-bottom: 1rem;
      color: #7a7a7a;
    }
  }

  h1 {
    font-family: 'Space Mono';
    font-weight: 300;
    font-size: 2rem;
  }

  h1#create-new {
    border: 1px solid #c7c7c7;
    font-size: 1.5rem;
    width: 24rem;
    margin: 0 auto;
    padding: 2px;
    text-align: center;
    color: $medgrey;
    // box-shadow: 5px 5px $dkgrey;
    background: white;

    i#add {
      font-size: 1.5rem;
      margin-left: 6%;
    }
  }

  h1#create-new:hover {
    background: $ltgrey;
    color: white;
    // box-shadow: 5px 5px $dkgrey;
    cursor: pointer;
  }

  h3 {
    font-family: 'Space Mono';
    font-weight: 300;
    padding: 3% 0%;
    color: $medgrey;
  }
}

.vertical-menu {
  overflow: scroll;
  border: 2px solid $ltgrey;
  width: 24rem;
  max-height: 88px;
  height: 88px;
  overflow: auto;
  margin: 0 auto;
  z-index: 1;
  margin-top: 12.5rem;
  // box-shadow: 5px 5px $dkgrey;

  p {
    font-family: 'Space Mono';
    font-size: 1.5rem;
    border-bottom: 1px solid $ltgrey;
    padding: 2px;
    background: white;
    color: $medgrey;
  }

  p:hover {
    background: $ltgrey;
    color: white;
  }

  p#title {
    background: $ltgrey;
    color: white;
    text-align: center;
    border-bottom: 1px solid $medgrey;
  }

  i#not {
    font-size: 1.5rem;
    margin-left: 10%;
  }
}

#not-clicked {
  p#not {
    font-family: 'Space Mono';
    font-size: 1.5rem;
    border: 1px solid $ltgrey;
    width: 16rem;
    padding: 2px;
    margin: 0 auto;
    width: 24rem;
    margin-top: 12.5rem;
    color: $medgrey;
    text-align: center;
    background: white;
    // box-shadow: 5px 5px $dkgrey;
  }

  p#not:hover {
    background: $ltgrey;
    color: white;
    // box-shadow: 5px 5px $dkgrey;
  }

  i#not {
    font-size: 1.5rem;
    margin-left: 10%;
  }
}
