
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 3rem;
  height: 1.5rem;
  margin-top: -2rem;
  right: 0;
  margin-right: 10%;
}

button:focus {
  outline:none;
}

/* Color/shape of burger icon bars */
span.bm-burger-bars {
  background: #969696;
  height: 16% !important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  display: none;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

div.bm-item:focus {
  outline: none;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

p {
  color: #7a7a7a;
  font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
  div.bm-burger-button {
    display: none;
  }
}
