.list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 68%;
  text-align: center;
  border: 1px solid #dadada;
  padding-bottom: 5.3rem;
  padding-top: 5rem;

  .entire-list {
    padding-left: 2rem;
  }

  input {
    width: 94%;
    border: none;
    border-bottom: 1px solid #c7c7c7;
    font-family: 'Space Mono';
    float: left;
    color: #7a7a7a;
    font-size: 1.3rem;
  }

  ::placeholder {
    color: #c7c7c7;
  }

  input:focus {
    outline:none;
  }

  .listdiv {
    overflow: auto;
    max-height: 550px;
    width: 100%;
    text-align: left;
    height: 22rem;
  }

  button {
    border: 1px solid #c7c7c7;
    color: #7a7a7a;
    padding: 6px;
    position: absolute;
    border: none;
    top: 0;
    right: 0;

    i {
      font-size: 1.8rem;
      color: #c7c7c7;
    }
  }

  button:hover {
    cursor: pointer;
  }
}
