$dkgrey: #7a7a7a;
$ltgrey: #c7c7c7;
$medgrey: #969696;
$xdkgrey: #525151;

.navbar {
  font-family: 'Space Mono';
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 100px;

  a {
    text-decoration: none;
  }

  h1 {
    display: inline;
    font-family: 'Space Mono';
    font-size: 2.5rem;
  }

  .main {
    color: $xdkgrey;
    font-size: 2rem;
    font-weight: 500;
    padding-top: 2.3rem;
    padding-left: 10%;
    font-size: 2.5rem;
  }

  .nav-right {
    display: none;
    float: right;
    margin-top: -2.2rem;

    .right-p {
      font-size: 1.5rem;
      color: #969696;
      display: inline;
    }

    .right-p:hover {
      color: $dkgrey;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 768px) {

  .navbar {
    p.main {
      padding-top: 4rem;
    }

    div.nav-right {
      display: inline;
      margin-right: 7rem;

      p#login {
        padding-right: 14px;
      }

      .padding {
        padding-right: 14px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    p.main {
      margin-left: 11rem;
      padding-left: 0;

    }

    div.nav-right {
      margin-right: 11rem;
    }
  }
}
