ul.fa-ul {
  margin-left: 0rem;
}

li {
  display: grid;
  grid-template-columns: auto 80% auto;
}

span {
  font-size: 1.6rem;
  font-family: 'Space Mono';
  color: #505050;
}

.taskdiv {
  padding-top: 1rem;
}

i.fa.fa-times {
  float: right;
  padding-right: 7%;
  color: #c7c7c7;
  margin-top: 21%;
  font-size: 1rem;
}

i.fa.fa-times:hover {
  color: #7a7a7a;
  cursor: pointer;
}

i.fa.fa-check-circle-o {
  color: #505050;
  margin-top: 21%;
  font-size: 1.3rem;
}

i.fa.fa-check-circle-o:hover {
  cursor: pointer;
}

i.fa.fa-circle-thin {
  color: #505050;
  margin-top: 21%;
  font-size: 1.3rem;
}

i.fa.fa-circle-thin:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  i.fa.fa-circle-thin {
    font-size: 1.7rem;
    padding-left: 0.1rem;
  }

  i.fa.fa-times {
    font-size: 1.5rem !important;
    padding-right: 6%;
  }

  i.fa.fa-check-circle-o {
    font-size: 1.7rem;
  }
}
