$grey: #969696;
$blue: #8dbdc1;

.welcome {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 29rem;

}

.about-me {
  p {
    font-family: 'Space Mono';
    font-size: 1.2rem;
    color: $grey;
  }
}

@media screen and (min-width: 768px) {
  .welcome {
    width: 36rem;

    p {
      font-size: 1.5rem;
    }
  }
}
