
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.whole-div {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #8dbdc1;
}

.get-started-img {
  width: 40%;
  margin-left: 28%;
  margin-top: -12%;
}

.mindful-img {
  /* margin-left: 3%; */
}

div.header {
  text-align: center;
  color: #8dbdc1;
}

div.ui.input {
  width: 60%;
  margin-left: 22%;
  text-align: center;
}

button.ui.button {
  margin-left: 41% !important;
  background: #8dbdc1;
  color: white;
}

div.ui.modal.transition.visible.active.create-list-modal {
  width: 50%;
}

div.ui.segment {
  width: 90%;
  height: 600px;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 38px -1px rgba(117,117,117,0.6);
  -moz-box-shadow: 10px 10px 38px -1px rgba(117,117,117,0.6);
  box-shadow: 10px 10px 38px -1px rgba(117,117,117,0.6);
}

h1 {
  text-align: center;
}

.container-list {
  background-color: white;
  width: 50%;
  height: 50%;
}

div.ui.input.haley {
  width: 100%;
  margin-left: 0%;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: italic;
}

div.task-div {
  padding-top: 2%;
  padding-bottom: 2%;
  border: 0.5px solid #e0e1e2;
  width: 100%;
  color: #8dbdc1;
}

div.task-div input[type="checkbox"] {
  box-sizing: border-box;
  padding: 2px;
  width: 23px;
  height: 20px;
  margin-left: 10px;
  margin-top: 7px;
}

div.task-div input[type="checkbox"]:hover {
  cursor: pointer;
}

div.task-div span {
  margin-left: 11%;
  font-size: 24px;
}

i.trash.alternate.outline.icon {
  float: right;
  padding-right: 4%;
  font-size: 20px;
  margin-top: 5px;
  margin-right: 16px;
  color: #e0e1e2
}

i.trash.alternate.outline.icon:hover {
  cursor: pointer;
  color: #8dbdc1;

}

.checkbox {
  float: left;
  margin-left: 4%;
  margin-top: 1%;
  background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
}

label.task-description {

  /* margin-left: 5%; */
  padding-left: 2%;
}

div.list-div {
  width: 824px;
  height: 405px;
  background: white;
  margin: 0 auto;
  overflow: scroll;
  margin-left: 0%;
}

div.list-container-div {
  width: 50%;
  height: 600px;
  background: white;
  margin: 0 auto;
  border-radius: 50%;
  color: #8dbdc1;
  text-align: center;
  margin-top: 2%;
}

div.vadim {
  padding: 25%;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

button.ui.circular.icon.button {
  margin-right: 40%;
}

#delete-list-button {
  display: inline;
  margin: 12px;
  position: absolute;
  right: 0;
  top: 0;
}

div.list-container-div.haley {
  padding-top: 5%;
}

div.entire-list {
}

div.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 5%;
  padding-top: 10%;
  grid-gap: 5% 5%;
}

div.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 290px;
  width: 290px;
  overflow: scroll;
  border: 1px solid black;
}

input.a-thing {
  float: left
}

p.a-thing {
  text-align: left;
  margin-left: 16%;
}

/* i.a-thing {
  float: right
} */

div.stretched.twelve.wide.column {
  margin-top: 3%;
}

div.four.wide.column {
  margin-top: 3%;
}

div.ui.fluid.vertical.tabular.menu {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  text-align: right;
}

#list-name-h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 70px;
  color: #8dbdc1;
}

div.ui.fluid.vertical.tabular.menu a.item {
  color:white;
  text-transform: lowercase;
}

div.ui.fluid.vertical.tabular.menu a.active.item {
  color: #8dbdc1;
  text-transform: lowercase;
}

.change-font {
  font-family: 'Poppins', sans-serif;
}

form.ui.form {
  width: 97% !important;
  margin-left: 10px;
}

svg.react-calendar-heatmap {
  width: 92%;
}

div.rc-calendar-date:hover {
  cursor: pointer
}

table.rc-calendar-table {
  width: 53%;
  height: 545px;
  text-align: center;
  background: white;
  margin: 0 auto;
}

table{
    border: 1px solid black;
    table-layout: fixed;
    width: 200px;
}

th, td {
    border: 1px solid black;
    width: 100px;
}

.joy {
  background: red;
}

div.calendar-div {
  margin-left: 45%;
  margin-top: -23%;
  height: 435px;
  width: 39%;
  border-radius: 50%;
  background: white;
}

div.react-datepicker {
  margin-left: 29%;
  margin-top: 21%;
}

div.calendar-circle-div {
  height: 374px;
  width: 32%;
  border-radius: 50%;
}

div.ui.placeholder.segment {
  margin-top: 7%;
  margin-left: 19%;
  width: 21%;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  padding: 2%;
}

div.calendar-div {
  margin-left: 45%;
  margin-top: -16%;
  height: 435px;
  width: 39%;
  border-radius: 50%;
  background: white;
}

h1.total {
  font-size: 85px;
  color: #dddcda;
}

p.lists {
  color: #8dbdc1;
}

.icon {
  /* color: #8dbdc1; */
}

div.react-datepicker__day--highlighted {
  background: #8dbdc1;
}

div.react-datepicker__header {
  background: #dddcda;
  color: white;
}

div.react-datepicker__current-month {
  color: white;
}

div.react-datepicker__month-container {
  box-shadow: 2px 2px 5px grey;
}

.checkboxFive {
  width: 25px;
  margin-left: 3%;
  position: absolute;
}

.checkboxFive label {
  cursor: pointer;
  position: absolute;
  width: 26px;
  height: 25px;
  top: 0;
  left: 0;
  background: #eee;
  border:1px solid #ddd;

}

.checkboxFive label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 6px;
  left: 7px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.checkboxFive input[type=checkbox]:checked + label:after {
    opacity: 1;
  }

div.ui.bottom.fixed.menu {
  width: 17%;
  background: #8dbdc1;
}

.nav-icon {
  color: #8dbdc1;
}

div.ui.modal.transition.visible.active {
  width: 39%;
}

i.close.icon {
  color: #8dbdc1;
}

div.ui.icon.menu {
  opacity: 0.5;
}

div.ui.grid {
  margin-top: 0%;
}

div.ui.circular.segment.a-circle {
  width: 200px;
  height: 200px;
  position: absolute;
  margin-top: -12%;
  margin-left: 39%;
}

h1.get-started-h1 {
  margin-top: 30%;
  color: #8dbdc1;
  font-size: 29px;
}

h1.mindful-h1 {
  font-size: 180px;
  color: white;
  font-family: 'Poppins';
}

div.ui.circular.segment.sign-up-circle {
  margin-left: 35%;
  position: absolute;
  color: #8dbdc1;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
}

h1.welcome-segments {
  margin-top: 20%;
}

button.ui.button.welcome-segments {
  margin: 0 auto !important;
}

div #outer {
  width:100%;
  text-align: center;
}

div.inner {
  display: inline-block;
}
